@import "tailwindcss";

@layer utilities {
	.scrollbar-hide {
		scrollbar-width: thin;
		scrollbar-color: white var(--color-purple-500);
	}
	.scrollbar-hide::-webkit-scrollbar {
		width: 8px;
	}
	.scrollbar-hide::-webkit-scrollbar-track {
		background-color: var(--color-purple-500);
	}
	.scrollbar-hide::-webkit-scrollbar-thumb {
		background-color: white;
		border-radius: 4px;
	}
	.scrollbar-hide::-webkit-scrollbar-thumb:hover {
		background-color: rgb(229 231 235);
	}
}
